<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" rel="stylesheet" href="page.css">
    <title>WYNAGE</title>
  </head>
  <body>
  <div class="jumbotron">
      <% if !current_user %>
      <h1><%= "Welcome To WYNAGE!" %></h1>
      <div class="description">
        Don't even think about what comes next. Just click below and find out!
      </div>
      <!-- <ul>
        <li>Hella jean shorts VHS keffiyeh, synth umami waistcoat.
        </li>
        <li>Delectus put a bird on it forage, laborum magna deserunt keffiyeh heirloom nihil quis assumenda plaid tilde williamsburg.
        </li>
        <li>YOLO literally williamsburg pabst accusamus craft beer.
        </li>
        <li>Marfa semiotics eiusmod health goth.
        </li>
      </ul> -->
      </p>
      <a class="btn btn-primary btn-lg coloring" role="button" <%= link_to "TRY NOW!", signup_path %>
        <%else%>
        <div class="clearfix"></div>
      <h1><%= "WELCOME WYNAGER #{current_user.first_name}"%></h1>
      <p>
          <% end %>
        </a>
      </p>
</div>


<form class="form-inline">
  <div class="form-group">
    <label class="sr-only" for="exampleInputAmount">Amount (in dollars)</label>
    <div class="input-group">
      <div class="input-group-addon">$</div>
      <input type="text" class="form-control" id="exampleInputAmount" placeholder="Amount">
      <div class="input-group-addon"><a class="btn btn-primary coloring" role="button" href="https://www.youtube.com/watch?v=oHg5SJYRHA0&feature=youtu.be&t=44s">
        Donate here!
      </a></div>
    </div>
  </div>

</form>



  </body>
</html>
