<div id="imgWrapper"
<div class="show_post">
  <div class="view">

    <% @posts.each do |post| %>
    <!-- <h2><%= post.title %></h2> -->
    <%= link_to image_tag post.url, class: "thumbnail", alt: "Image for post" %>
    <% end %>
  </div>
</div>
