.clearfix {
  clear: both;
}

.jumbotron h1 {
  text-align: center;
}
/*----------------------------------------*/
/*--------------MAIN SECTION--------------*/
/*----------------------------------------*/

li{
  display: inline;
}

.form-inline {
  text-align: center;
}
a {
  width: 100%;
}
