.clearfix {
  clear: both;
}

.jumbotron {
  text-align: center;
}
/*----------------------------------------*/
/*--------------MAIN SECTION--------------*/
/*----------------------------------------*/

li{
  display: inline;
}

.description {
  text-align: center;
  font-size: 1.2em;

}

.form-inline {
  text-align: center;

}
.form-control {
  height: 3.4em;
  border-color: #222222;
}

.form-control:focus {
  border-color: currentColor !important;
  box-shadow: none !important;
}

a {
  width: auto;
}
.input-group-addon{
  background-color: #222222 !important;
  border-color: #222222 !important;
}

.coloring {
  background-color: #222222 !important;
  border-color: #222222 !important;
  color: #9c9c9c !important;
}
.coloring:hover {
  color: white !important;
}
