// Place all the styles related to the Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.post_container {
  display: flex;
  text-align: center;
}
.post_column {
  display: flex;
  flex-direction: column;
}
.footer_links {
  font-size: 1.5em;
}
#post_title {
  font-size: 1.5em;
}
#content_title {
  font-size: 1.1em;
}

h1#new_post {
  font-size: 3em;
  text-align: center;
}
#newpost_title {
  text-align:center;
  font-size: 1.1em;
}

.formatting {
  background-color: #222222 !important;
  border-color: #222222 !important;
  color: #9c9c9c !important;
  height: 2em;
}
