// Place all the styles related to the Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form_container {
  text-align: center;
}
.user_column {
  display: flex;
  flex-direction: column;
}
#new_user {
  text-align: center;
}
